@charset "UTF-8";

#searchForm {
	margin: 0 auto;
}

#dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	
	background-color: white;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	/* IE7 & 8 */
}

#layer {
	position: absolute;
	top: 30px;
	left: 50%;
	z-index: 100;
	
	width: 1024px;
	margin-bottom: 30px;
	margin-left: -512px;
	
	text-align: center;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0px 10px 20px #333;
}

#close {
	color: #303030;
	font-weight: bold;
	
	position: absolute;
	top: -25px;
	right: 50%;
	margin-right: -512px;
	z-index: 100;
}

.tags {
	display: inline-block;
	text-shadow: 3px 3px 5px rgba(32, 32, 32, 0.2);
}

#text{
	width: 600px; 
	border-color: skyblue;
	border-width: 3px;
}

#searchButton{
	width: 80px; 
	border-color: skyblue; 
	background-color: skyblue;
	color: white;
	font-weight: bold;
	border-width: 3px;
}

.detail{
	color: #337ab7;
	font-weight: bold;
	text-align:left;
	margin-left:20px;
}

#taginput{
	color: #337ab7;
	font-weight: bold;
	text-align: left;
	margin-bottom : 10px;
	border-color: skyblue;
	border-width: 2px;
}

#list img {
	box-shadow: 3px 3px 5px rgba(32, 32, 32, 0.2);
	margin-top: 20px;
	margin-left: 20px;
}

tr, td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;
	padding-bottom: 4px; 
}

#exifCamera, #exifPicture {
	box-shadow: 3px 3px 5px rgba(32, 32, 32, 0.2);
}

#exifCamera tr, #exifCamera td, #exifPicture tr, #exifPicture td {
	border: 2px solid skyblue;
}

#timeasc, #timedesc, #bigger, #smaller {
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
}

#timeasc:hover, #timedesc:hover, #bigger:hover, #smaller:hover {
	opacity: 0.5;
}

#timeasc:active, #timedesc:active, #bigger:active, #smaller:active {
	opacity: 0;
}

#timeasc, #timedesc {
	position: relative;
	float: left;
	left: 125px;
	margin-left: 10px;
}

#bigger, #smaller {
	position: relative;
	float: right;
	right: 105px;
	margin-right: 10px;
}

#modelInfo {
	margin-top: 40px;
	margin-bottom: 90px;
}

#modelTitle {
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 1px #303030, 0px 0px 6px #337ab7;
}

#modelDetail {
	color: rgba(48, 48, 48, 1);
}