@charset "UTF-8";

#searchForm {
	margin: 0 auto;
}

#dim {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	
	background-color: white;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	/* IE7 & 8 */
}

.frame {
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-bottom: 40px;
	
	display: inline-block;
}

/* .result {
	width: 300px;
	height: 300px;
} */

#layer {
	position: absolute;
	top: 260px;
	left: 50%;
	z-index: 100;
	
	width: 1024px;
	margin-bottom: 30px;
	margin-left: -512px;
	
	text-align: center;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0px 10px 20px #333;
}

#close {
	position: absolute;
	top: -25px;
	right: 50%;
	z-index: 100;
	
	margin-right: -512px;
	
	color: #303030;
	font-weight: bold;
}

.tags {
	display: inline-block;
}

#text{
	width: 600px; 
	border-color: skyblue;
	border-width: 3px;
}

#searchButton{
	width: 80px; 
	border-color: skyblue; 
	background-color: skyblue;
	color: white;
	font-weight: bold;
	border-width: 3px;
}

.detail{
	color: #337ab7;
	font-weight: bold;
	text-align:left;
	margin-left:20px;
}

#taginput{
	color: #337ab7;
	font-weight: bold;
	text-align:left;
	margin-bottom : 10px;
	border-color: skyblue;
	border-width: 2px;
}

#list img {
	margin-top: 20px;
	margin-left: 20px;
}

tr, td {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px; 
}