@charset "UTF-8";

#dim {
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	/* IE7 & 8 */
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;
}

#layer {
	width: 1024px;
	margin-bottom: 30px;
	background: #fff;
	border: solid 1px #ccc;
	position: absolute;
	top: 260px;
	left: 50%;
	margin-left: -512px;
	box-shadow: 0px 10px 20px #333;
	z-index: 100;
	text-align: center;
}

#close {
	color: #fff;
	position: absolute;
	top: -25px;
	right: 50%;
	margin-right: -512px;
	z-index: 100;
}

.tags {
	display: inline-block;
}