<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--     <typeAliases> -->
<!-- 		<typeAlias type="cf.yul.apoint.vo.이름" alias="알리아스" /> -->
<!-- 	</typeAliases> -->
<!-- 	<mappers> -->
<!-- 		<mapper resource="맵퍼.xml" /> -->
<!-- 	</mappers> -->
</configuration>